@import 'variables';
@import 'mixins';

.container {
	padding: 3rem 3rem;
	max-width: 969px;
	margin: auto;
	min-height: 100vh;

	@include mobile() {
		padding: 32px 12px;
	}
}

.header {
	h1 {
		font: 700 48px $accentFont;
		color: $title;
		margin-bottom: 12px;
	}

	.sub {
		display: flex;
		margin-bottom: 16px;
		max-width: 600px;

		div {
			flex: none;
			margin-right: 12px;
		}

		p {
			font: italic 500 14px $mainFont;
			color: $gray2;
		}
	}

	@include mobile() {
		h1 {
			font-size: 24px;
		}

		.sub {
			p {
				font-size: 12px;
			}
		}
	}
}

.main {
	margin-top: 40px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

	@include mobile() {
		margin-top: 24px;
		display: block;
	}
}

.card {
	padding: 42px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	width: max-content;
	flex: none;
	height: max-content;
	margin-left: 70px;

	.cardSection {
		margin-top: 43px;

		.cardMargin {
			margin-bottom: 43px;
		}
	}

	@include mobile() {
		padding: 0;
		box-shadow: none;
		border-radius: 0;
		width: 100%;
		margin-left: 0;
		margin-bottom: 32px;

		.cardSection {
			margin-top: 20px;
			display: flex;
			justify-content: space-between;

			.cardMargin {
				margin-bottom: 0;
			}
		}
	}
}

.source {
	font: italic 400 16px $mainFont;
	color: $gray4;
	margin-top: 50px;

	@include mobile() {
		font-size: 12px;
	}
}
